/* =============== */
/* Navbar Styling  */
/* =============== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    max-width: 100vw;
    flex-wrap: wrap;
    font-family: "VT323";
  }
  
  .logo {
    height: 60px;
    width: auto;
  }
  
  /* Hamburger Icon */
  .hamburger {
    display: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
  }
  
  /* Nav Links */
  .navbar-links {
    display: flex;
    gap: 3rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
  
  .navbar-links a {
    color: white;
    font-size: 1.8rem;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    &:hover {
      transform: scale(1.05);
      text-shadow: 0 0 16px #1a1a40, 0 0 24px #3e3e7c;
    }
  }
  
  /* =============== */
  /* Responsive Mode */
  /* =============== */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 1rem 0;
      background-color: transparent;
      gap: 1rem;
      margin: 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-links a {
      font-size: 4vw;
      padding: 0.5rem 0;
      &:hover {
        transform: scale(1.05);
        text-shadow: 0 0 16px #1a1a40, 0 0 24px #3e3e7c;
      }
    }
  }
  